<div class='row'>
	<div class='form-group col-md-12'>
		<nav class="navbar navbar-inverse">
		  	<div class="container-fluid">
			    <div class="navbar-header">
			     	<a class="navbar-brand">Github</a>
			    </div>
			    <ul class="nav navbar-nav" ng-controller="TabController as tab">
			      	<li ng-class="{active:tab.isSet(1)}" ><a href='#/dashboard'  ng-click="tab.setTab(1)">Dashboard</a></li>
			      	<li ng-class="{active:tab.isSet(2)}"> <a  href='#/list' ng-click="tab.setTab(2)">List Issues</a></li>
			      	<li ng-class="{active:tab.isSet(3)}" ><a href='#/create'  ng-click="tab.setTab(3)">Create Issue</a></li>
			    </ul>
			    <ul class="nav navbar-nav navbar-right">
			     	 <li>
			     	 	<a href="" ng-click="getCtrl.logout()"><span class="glyphicon glyphicon-off"></span> Logout</a>
					</li>
			    </ul>
		 	</div>
		</nav>
	</div>
</div>
<div class="container-fluid text-center" style="margin-top: -36px;">    
	<div class="panel panel-primary">
		<div class="panel-body">
			<div class="col-lg-3 col-md-6">
			    <div class="panel panel-primary">
			        <div class="panel-heading">
			            <div class="row">
			                <div class="col-xs-3">
			                    <i class="fa fa-comments fa-5x"></i>
			                </div>
			                <div class="col-xs-9 text-right">
			                    <div class="huge" style="font-size:30px"><span ng-bind="dashCtrl.openIssue"></span></div>
			                    <div>Open Issues</div>
			                </div>
			            </div>
			        </div>
			       
			    </div>
			</div>
			<div class="col-lg-3 col-md-6">
			    <div class="panel panel-green" style="background:#5cb85c">
			        <div class="panel-heading">
			            <div class="row">
			                <div class="col-xs-3">
			                    <i class="fa fa-comments fa-5x"></i>
			                </div>
			                <div class="col-xs-9 text-right">
			                    <div class="huge" style="font-size:30px;color:white"><span ng-bind="dashCtrl.closeIssue"></span></div>
			                    <div>Closed Issues</div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
			<div class="col-lg-3 col-md-6">
			    <div class="panel panel-yellow" style="background:#f0ad4e">
			        <div class="panel-heading">
			            <div class="row">
			                <div class="col-xs-3">
			                    <i class="fa fa-comments fa-5x"></i>
			                </div>
			                <div class="col-xs-9 text-right">
			                    <div class="huge" style="font-size:30px;color:white">{{dashCtrl.openIssue + dashCtrl.closeIssue}}</div>
			                    <div>Assignee</div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>