	<div class="row">
 		<div class="form-group col-md-6">
 			<a href="#/list" class="btn btn-info">List Issues</a>
 			<a href="#/create" class="btn btn-info">Create Issue</a>
 		</div>
	</div>
	<div class="row">
		<div class="form-group col-xs-1">
			<label for="code">Repository</label>			
		</div>
		<div class="form-group col-xs-4">	
			 <select class="form-control" ng-model="repoItem.name" ng-change='getCtrl.getIssue(repoItem.name)' ng-options="repoItem.name for repoItem in getCtrl.resData">
	    </select>
		</div>
		
	</div>
 
	<div class="row col-md-6">
		<div class="form-group ">
			<table class="table table-bordered issue-table">
			 	<thead>
		        <tr>
			        <th>Title</th>
			        <th>Description</th>
			        <th>Assignee</th>
			        <th>Action</th>
		     	</tr>
				</thead>
	   			<tbody>
	      			<tr ng-repeat="d in getCtrl.descriptions"><td>{{d[1]}}</td>
	      				<td>{{d[0]}}</td>
	      				<td>{{d[2]}}</td>
	      				<td><a href="#/edit/{{$index}}/{{repoItem.name.name}}" >Edit</a></td>
	      			</tr>
	    		</tbody>
			</table>
		</div>
	</div>

