	<div class="row">
		<div class="form-group col-xs-1">
				<label for="code">Username</label>			
		</div>
		<div class="form-group col-xs-4">	
			<input type="text" name="gname" id="gname" ng-model="getCtrl.username" ng-change="getCtrl.checkInfo()" class="form-control"/>
		</div>
		
	</div>
	<div class="row">
		<div class="form-group col-xs-1">
				<label for="code">Password</label>			
		</div>
		<div class="form-group col-xs-4">	
			<input type="password" name="gpswd" id="gpswd" ng-model="getCtrl.password" ng-change="getCtrl.checkInfo()" class="form-control"/>
		</div>
		<div class="form-group col-xs-1">	
			<a href="" ng-click="getCtrl.getInfo();" ng-disabled = "getCtrl.getInfoDisable" class="btn btn-info">Get Info</a>
		</div>
	</div>

	<div class="row">
		<div class="form-group col-xs-1">
			<label for="code">Repository</label>			
		</div>
		<div class="form-group col-xs-4">	
			 <select class="form-control" ng-model="repoItem.name" ng-change='getCtrl.getIssue(repoItem.name)' ng-disabled="getCtrl.disableSel" ng-options="repoItem.name for repoItem in getCtrl.resData">
	    </select>
		</div>
		
	</div>
 
	<div class="row col-md-6">
		<div class="form-group ">
			<table class="table table-bordered issue-table">
			 	<thead>
		        <tr>
			        <th>Title</th>
			        <th>Description</th>
			        <th>Assignee</th>
			        <th>Action</th>
		     	</tr>
				</thead>
	   			<tbody>
	      			<tr ng-repeat="d in getCtrl.descriptions"><td>{{d[0]}}</td>
	      				<td>{{d[1]}}</td>
	      				<td>{{d[2]}}</td>
	      				<td><a href="#/edit/{{$index}}/{{repoItem.name.name}}" >Edit</a></td>
	      			</tr>
	    		</tbody>
			</table>
		</div>
	</div>

